@page "/instances"
@attribute [Authorize]
@using Lfm.App.Services
@using Lfm.Contracts.Instances
@inject IInstancesClient Client
@inject IStringLocalizer Loc

<PageTitle>@Loc["instances.title"]</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="12">
  <FluentLabel Typo="Typography.H1">@Loc["instances.title"]</FluentLabel>

  @switch (state)
  {
    case LoadingState<IReadOnlyList<InstanceDto>>.Idle:
    case LoadingState<IReadOnlyList<InstanceDto>>.Loading:
      <FluentProgressRing />
      break;
    case LoadingState<IReadOnlyList<InstanceDto>>.Failure f:
      <FluentMessageBar Intent="MessageIntent.Error">@f.Message</FluentMessageBar>
      break;
    case LoadingState<IReadOnlyList<InstanceDto>>.Success s:
      <div class="scroll-region" role="region" tabindex="0" aria-label="@Loc["instances.tableAriaLabel"]">
      <FluentDataGrid Items="@s.Value.AsQueryable()" TGridItem="InstanceDto">
        <PropertyColumn Property="@(i => i.Name)" Title="@Loc["instances.columns.name"]" />
        <PropertyColumn Property="@(i => i.ModeKey)" Title="@Loc["instances.columns.mode"]" />
        <PropertyColumn Property="@(i => i.Expansion)" Title="@Loc["instances.columns.expansion"]" />
      </FluentDataGrid>
      </div>
      break;
  }
</FluentStack>

@code {
    private LoadingState<IReadOnlyList<InstanceDto>> state = new LoadingState<IReadOnlyList<InstanceDto>>.Idle();

    protected override async Task OnInitializedAsync()
    {
        state = new LoadingState<IReadOnlyList<InstanceDto>>.Loading();
        try
        {
            var items = await Client.ListAsync(CancellationToken.None);
            state = new LoadingState<IReadOnlyList<InstanceDto>>.Success(items);
        }
        catch (Exception ex)
        {
            state = new LoadingState<IReadOnlyList<InstanceDto>>.Failure(ex.Message);
        }
    }
}
